.nav__container {
  background-color: #277CFC;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1024px;

  &-button {
    background-color: #0080FF;
    flex-grow: 1;
    margin: 0 auto;
    text-align: right;
  }

}
